#Recap {
    display: flex;
    align-items: center;
    padding: 30px;
    gap: 25px;
    width: 260px;
    background-color: #FBFBFB;
}

.icon-Calories {
    background-color: rgba(255, 0, 0, 0.2);
    padding: 20px;
    width: fit-content;
    border-radius: 5px;
}
.icon-Proteines {
    background-color: rgba(74, 184, 255, 0.2);
    padding: 20px;
    width: fit-content;
    border-radius: 5px;
}
.icon-Glucides {
    background-color: rgba(249, 206, 35, 0.2);
    padding: 20px;
    width: fit-content;
    border-radius: 5px;
}
.icon-Lipides {
    background-color: rgba(253, 81, 129, 0.2);
    padding: 20px;
    width: fit-content;
    border-radius: 5px;
}

.Recap-desc .Recap-desc-value {
    color: #282D30;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 5px;
}

.Recap-desc .Recap-desc-title {
    color: #74798C;
    font-size: 14px;
}
@media (max-width: 1300px) {
    #Recap {
        flex-direction: column;
        padding: 10px;
        gap: 10px;
        width: 100%;
        background-color: #FBFBFB;
    }
    #Recap {
        text-align: center;
    }
    .icon-Calories {
        padding: 15px;
    }
    .icon-Proteines {
        padding: 15px;
    }
    .icon-Glucides {
        padding: 15px;
    }
    .icon-Lipides {
        padding: 15px;
    }
}