.container {
    padding-left: 10%;
    background-color: white;
    padding-top: 68px;
}

.data-recap {
    display: flex;
    gap: 30px;
    width: 100%;
}

.charts-div {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 75%;
    max-width: 1000px;
}

.charts-div-line-2 {
    display: flex;
    justify-content: space-between;
}
.recaps-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px;
 }

@media (max-width: 1300px) {

    .data-recap {
        gap: 10px;
    }
    .charts-div {
        gap: 10px;
        width: 85%;
    } 
}

@media (max-width: 1024px) {
    .container {
        margin-left: 90px;
    }

    .data-recap {
        flex-direction: column;
    }
    .charts-div {
        width: 100%;
        padding-right: 15px;
    }
    .charts-div-line-2 {
        gap: 10px;
    }
    .recaps-div {
        gap: 10px;
        margin-right: 15px;
    }
}